@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}


main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}


.headerStyle {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #a18aba;
}

h2 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5rem;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

h3 {
  margin-right: 10px; /* Adjust margin between checkbox and label */
  font-family: "Roboto Condensed", sans-serif; /* Font family */
  font-size: 2rem; /* Font size */
  background: linear-gradient(40deg, #00f5a7, #ffb700, #ff8a00, #ff416c);
  /* Gradient background */
  -webkit-background-clip: text; /* Clip text to the background shape */
  -webkit-text-fill-color: transparent; /* Make text transparent to show the background */
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5)); /* Drop shadow */
}


/* General Styles for TextInput */
.text-input-container {
  margin: 20px;
}

.text-input {
  width: 100%; /* Full width for mobile responsiveness */
  padding: 10px; /* Padding for better touch experience */
  font-size: 16px; /* Readable font size */
  border: 1px solid #ccc; /* Border styling */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Responsive Styles */
@media (min-width: 768px) {
  .text-input-container {
    max-width: 600px; /* Max width for larger screens */
    margin: 20px auto; /* Center align on larger screens */
  }
}
